body
{
    background-color: purple;
}
h1
{
    color: blue;
    border: 2px solid black;
    border-radius: 13px ;
    text-align: center;
    font-size: 45px;
    background-color: orange;
    margin-top:-7px;
     height:53px;
     width: 1375px;
     margin-left: -15px;
    
    
}

sub
{
    font-size: 20px;
}

ul
{
    
    float: center;
    text-decoration: none;
}
li
{
    display: inline-block;
    padding:15px;
    margin-left: 100px;
    text-decoration: none;
}
a
{
    text-align:center;
    text-decoration-color:rgb(22, 22, 34);
    float:auto;
    color: #797148;
    text-decoration:none;
    padding:20px;
    border:1px solid black;
}
