body
{
    background-color: pink;
}
h1
{
    color: blue;
    border: 2px solid black;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    font-size: 70px;
    background-color: orange;
}

sub
{
    font-size: 20px;
}

ul
{
    
    float: center;
    text-decoration: none;
}
li
{
    display: inline-block;
    padding:15px;
    margin-left: 100px;
}
a
{
    text-align:center;
    text-decoration-color:rgb(22, 22, 34);
    float:auto;
    color: #797148;
    text-decoration:none;
    padding:20px;
    border:1px;
}
