body
{
	background-image: url(FB_IMG_16252179130892212.jpg);
	background-size: contain;
}
h1
{
	border:2px solid black;
	border-bottom: 20px;
	text-align: center;
	border-radius: 20px;
	font-size: 70px;
	background-color: black;
	color: white;
}
form
{
	text-align: center;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 150px;
	background-color: pink;
	width: 750px;


}
.bhours
{
        text-align:center;                
        border:1px black solid;
	margin-left:900px;
	margin-top:150px;
	background:rgba(140,210,200,190); 
	opacity:0.9;  
	border-radius:10px; 
	border-top-right-radius:110px;
	border-bottom-left-radius: 110px;
	padding:-200px; 
}
.bh
{
        font-size:1.5em;  font-family: impact; 
}

.day
} 
        font-size:12px; font-family:verdana; 
        color:maroon;
}
div.day~h5
{
        font-size:.8em;
        font-family:cambria;
        color:black;  
        font-style:bold; 
}
